@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kharkov, Ukraine<br />
    No address<br />
    <abbr title="Number is from Kievstar">Phone:</abbr>
    123456789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nomail@now.com">nomail@now.com</a><br />
</address>