@{
    ViewBag.Title = "Katya Zalepo";
}

<div class="jumbotron">
    <h1>KATYA ZALEPO</h1>
    <p class="lead">Hi. Welcome to my portfolio. Feel free to browse my photos.</p>
    <a>
        <a href="~/Home/Portfolio" class="btn btn-default">Go to Portfolio &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Saved for x</h2>
        <p>
            Info box 1
        </p>
        <p><a class="btn btn-default" href="no link">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Saved for y</h2>
        <p>
            Box2
        </p>
        <p><a class="btn btn-default" href="no link">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Saved for z</h2>
        <p>
            Box3
        </p>
        <p><a class="btn btn-default" href="no link">Learn more &raquo;</a></p>
    </div>
</div>